<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Мій профіль</title>
    <link rel="icon" type="image/png" href="/img/app.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">

    <link rel="stylesheet" type="text/css" href="/css/adminUsers.css">

</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <img class="header-image" src="/img/logo.png" alt="">
        <h1>Juniors Meet</h1>
        <div class="header-image disabled">Big brain div</div>
    </div>
    <div class="header-links">
        <a th:href="@{/project/all}">Пошук</a>
        <a href="/">Проекти</a>
        <a th:href="@{/profile/me}">Мій акаунт</a>
    </div>
</div>

<div class="main-block">
    <div class="profile-sidebar-wrapper">
        <div class="content-block profile-sidebar">
            <a th:href="@{/admin/profiles}" class="standart-button">Користувачі</a>
            <a th:href="@{/admin/projects}" class="standart-button">Проекти</a>
            <button class="standart-button">Вийти</button>
        </div>
    </div>
    <div class="content-block main-content-block hide show ">
        <div class="scrollable-block project-search-block">
            <div class="top-block">
                <h1 class="page-title">Користувачі</h1>
            </div>
            <form class="search-form" action="/">
                <input class="search-form-input" type="text" placeholder="Пошук...">
                <button>✓</button>
            </form>
            <div th:method="post" th:action="@{/profile/make_admin/{id}(id = ${profile.getId()})}"
                 th:each="profile : ${profiles}" class="project-el">
                <a th:href="@{/profile/{id}(id = ${profile.getId()})}" th:text="${profile.getName()}"></a>
                <form th:method="post" th:action="@{/profile/make_admin/{id}(id = ${profile.getId()})}" class="project-el">
                    <button class="addRights-button">Дати права</button>
                </form>
                <form th:method="post" th:action="@{/profile/ban/{id}(id = ${profile.getId()})}" class="project-el">
                    <button class="ban-button">БАН</button>
                </form>
                <p>email2.gmail.com</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="content-block profile-sidebar-wrapper disabled">
    </div>
</div>


</body>

</html>