<!DOCTYPE html>
<html>

<head>
    <title>Заява</title>
    <link rel="icon" type="image/png" href="/img/app.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <h1>StandUp-Ticketing</h1>
    </div>
    <div class="header-links">
        <a>Стендапи</a>
        <a th:href="@{/sent_application.html}">Організаторам</a>
        <!--    <a >Мій акаунт</a>-->
        <ul class="menu">
            <li>
                <a href="#" >Мій акаунт</a>
                <ul>
                    <li>
                        <a th:href="@{/login}"  >Вийти</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/applications}" >Заявки</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<div class="main-block">
    <div class="content-block main-content-block">
        <div class="scrollable-block profile-my-form">
            <h1 class="page-title">Заява</h1>
            <form th:action="@{application/{applicationId}}" method="get">
                <div class="inline-elements">
                    <p class="field-name">Назва стендапу</p>
                    <p class="field-value">
                        <span th:text="${application2.getTitle()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">Організатор</p>
                    <p class="field-value">
                        <span th:text="${application2.getOrgName()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">Телефон</p>
                    <p class="field-value">
                        <span th:text="${application2.getOrgPhone()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">Місто</p>
                    <p class="field-value">
                        <span th:text="${application2.getCity()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">Місце проведення</p>
                    <p class="field-value">
                        <span th:text="${application2.getLocation()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">Статус</p>
                    <p class="field-value">
                        <span th:text="${application2.getStatus()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">Документ</p>
                    <p class="field-value">
                        <span th:text="${fileResponse.getName()}"></span>
                    </p>
                </div>
                <div class="inline-elements">
                    <p class="field-name">URL</p>
                    <p class="field-value">
                        <a th:href="${fileResponse.getUrl()}">Скачати файл</a>
                    </p>
                </div>

            </form>
            <!--      <div th:method="post" th:action="@{/profile/make_admin/{id}(id = ${profile.getId()})}"-->
            <!--           th:each="profile : ${profiles}" class="project-el">-->
            <!--        <a th:href="@{/profile/{id}(id = ${profile.getId()})}" th:text="${profile.getName()}"></a>-->
            <!--        <form th:method="post" th:action="@{/profile/make_admin/{id}(id = ${profile.getId()})}" class="project-el">-->
            <!--          <button class="addRights-button">Дати права</button>-->
            <!--        </form>-->
            <!--        <form th:method="post" th:action="@{/profile/ban/{id}(id = ${profile.getId()})}" class="project-el">-->
            <!--          <button class="ban-button">БАН</button>-->
            <!--        </form>-->
            <!--        <p>email2.gmail.com</p>-->
            <!--        <hr>-->
            <!--      </div>-->


            <div th:method="post" th:action="@{/admin/decline/{id}(id = ${application2.getId()})}"
                 class="aprove-button">
                <form th:method="post" th:action="@{/admin/approve/{id}(id = ${application2.getId()})}">
                    <button class="app-button">Підтвердити</button>
                </form>
                <form th:method="post" th:action="@{/admin/decline/{id}(id = ${application2.getId()})}">
                    <button class="dis-button">Відмовити</button>
                </form>

            </div>
        </div>
    </div>

</div>
</div>


</body>

</html>