<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Мій профіль</title>
    <link rel="icon" type="image/png" href="/img/app.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <h1>StandUp-Ticketing</h1>
    </div>
    <div class="header-links">
        <a>Стендапи</a>
        <a th:href="@{/sent_appl/}">Організаторам</a>
        <ul class="menu">
            <li>
                <a href="#" >Мій акаунт</a>
                <ul>
                    <li>
                        <a th:href="@{/login}"  >Вийти</a>
                    </li>
                    <li>
                        <a th:href="@{/application}" >Заявки</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="main-block">


    <div class="content-block main-content-block">
        <div class="scrollable-block profile-my-form">
            <h1 class="page-title"> Мої заявки</h1>
            <div th:each="apl : ${userApplications}" class="project-el">
                <a th:href="@{/application/{applicationId}(applicationId = ${apl.getId()})}"
                   th:text="${apl.getTitle() }">Нова соцмережа</a>
                <p></p>
                <b>Статус:</b>
                <b th:text="${apl.getStatus()}" style="size: 15px"></b>
                <p></p>
                <b>Дата відправки:</b>
                <b th:text="${apl.getStartDate()}"></b>
                <hr>
            </div>
        </div>
    </div>

</div>
</div>


</body>

</html>