<!DOCTYPE html>
<html>

<head>
    <title>Мій профіль</title>
    <link rel="icon" type="image/png" href="/img/app.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <h1>Juniors Meet</h1>
    </div>
    <div class="header-links">
        <a th:href="@{/project/all}">Пошук</a>
        <a href="/">Проекти</a>
        <a th:href="@{/profile/me}">Мій акаунт</a>
    </div>
</div>

<div class="main-block">
    <div class="profile-sidebar-wrapper">
        <div class="content-block profile-sidebar">
            <a th:href="@{/profile/me}" class="standart-button">Профіль</a>
            <button class="standart-button">Акаунт</button>
            <a th:href="@{/project/my}" class="standart-button">Заявки</a>
            <button class="standart-button">Вийти</button>
        </div>
    </div>
    <div class="content-block main-content-block">
        <div class="scrollable-block profile-my-form">
            <h1 class="page-title">Заявки</h1>
            <div th:each="project : ${projects}" class="project-el">
                <a th:href="@{/project/{id}(id = ${project.getId()})}" th:text="${project.getName()}">Нова соцмережа</a>
                <p>Статус: не прийнято</p>
                <p>
						<span th:each="technology,iterStat : ${project.getTechnologies()}"
                              th:text="${technology.getName()} + ${!iterStat.last ? ', ' : ''}"></span>
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="content-block profile-sidebar-wrapper disabled">
    </div>
</div>


</body>

</html>