<!DOCTYPE html>
<html>

<head>
	<title>Мій профіль</title>
	<link rel="icon" type="image/png" href="/img/app.ico"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/css/profile_my.css">
</head>

<body class="app-body">

	<div class="header">
		<div class="header-app-name">
			<img class="header-image" src="/img/logo.png" alt="">
			<h1>Juniors Meet</h1>
			<div class="header-image disabled">Big brain div</div>
		</div>
		<div class="header-links">
			<a th:href="@{/project/all}">Пошук</a>
			<a href="/">Проекти</a>
			<a th:href="@{/profile/me}">Мій акаунт</a>
		</div>
	</div>

	<div class="main-block">
		<div class="profile-sidebar-wrapper">
			<div class="content-block profile-sidebar">
				<a th:href="@{/profile/me}" class="standart-button">Профіль</a>
				<button class="standart-button">Акаунт</button>
				<a th:href="@{/project/my}" class="standart-button">Заявки</a>
				<button class="standart-button">Вийти</button>
			</div>
		</div>
		<div class="content-block main-content-block">
			<div class="scrollable-block profile-my-form">
				<h1 class="page-title">Мій профіль</h1>
				<div class="inline-elements">
					<p class="field-name">Ім'я</p>
					<p class="field-value" th:text="${profile.getName()}"></p>
				</div>
				<div class="inline-elements">
					<p class="field-name">Вік</p>
					<p class="field-value" th:text="${profile.getAge()}"></p>
				</div>
				<div class="inline-elements">
					<p class="field-name">Стать</p>
					<p class="field-value" th:text="${profile.getGender().name()}"></p>
				</div>
				<div class="inline-elements">
					<p class="field-name">Git</p>
					<p class="field-value" th:text="${profile.getGit()}"></p>
				</div>
				<div class="inline-elements">
					<p class="field-name">Інформація</p>
					<p class="field-value" th:text="${profile.getInfo()}"></p>
				</div>
				<div class="inline-elements">
					<p class="field-name">Навички</p>
					<div class="field-value">
						<p th:each="technology : ${profile.getTechnologies()}" th:text="${technology.getName()}"></p>
					</div>
				</div>
				<a th:href="@{/profile/update}" class="standart-button">Оновити</a>
			</div>
		</div>
		<div class="content-block profile-sidebar-wrapper disabled">
		</div>
	</div>


</body>

</html>