<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{../css/profile_create.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<h1>Все пользователи</h1>

<form th:action="@{/profile/update}" method="get">
    <div th:each="profile : ${profiles}">
        <a th:href="@{/profile/{id}(id=${profile.getId()})}">
            <span th:text="${profile.getName()}"></span>,
            <span th:text="${profile.getAge()}"></span> лет
        </a>
        <br>
        <p><a th:href="@{//{link}(link=${profile.getGit()})}" th:text="${profile.getGit()}"></a></p>
        <p th:text="${profile.getInfo()}"></p>
        <span>Технологии: </span>
        <div th:each="technology : ${profile.getTechnologies()}">
            <span th:text="${technology.getName()}"></span>
            <span> </span>
        </div>
        <hr>
        <br><br>
    </div>
</form>

</body>
</html>