<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Мій профіль</title>
    <link rel="icon" type="image/png" href="/img/app.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <h1>Juniors Meet</h1>
    </div>
    <div class="header-links">
        <a th:href="@{/project/all}">Пошук</a>
        <a href="/">Проекти</a>
        <a th:href="@{/profile/me}">Мій акаунт</a>
    </div>
</div>

<div class="main-block">
    <div class="profile-sidebar-wrapper">
        <div class="content-block profile-sidebar">
            <button class="standart-button">Профіль</button>
            <button class="standart-button">Акаунт</button>
            <button class="standart-button">Вийти</button>
        </div>
    </div>
    <div class="content-block main-content-block">
        <form class="scrollable-block profile-my-form" th:action="@{/profile/update}" method="post">
            <h1 class="page-title">Мій профіль</h1>
            <div class="inline-elements">
                <label class="field-name">Ім'я</label>
                <input class="field-input" type="text" id="name" name="name" th:value="${profile.getName()}" required>
            </div>
            <div class="inline-elements">
                <label class="field-name">Вік</label>
                <input class="field-input" type="number" id="age" name="age" th:value="${profile.getAge()}" required>
            </div>
            <div class="inline-elements">
                <label class="field-name">Стать</label>
                <select class="field-input" id="gender" name="gender" value="21" required>
                    <option th:value="${profile.getGender().name()}" th:text="${profile.getGender().name()}" selected></option>
                    <option th:each="gender : ${genders}" th:value="${gender.name()}" th:text="${gender.name()}"></option>
                </select>
            </div>
            <div class="inline-elements">
                <label class="field-name">Git</label>
                <input class="field-input" type="text" id="git" name="git" th:value="${profile.getGit()}" required>
            </div>
            <div class="inline-elements">
                <label class="field-name">Інформація</label>
                <textarea class="field-input field-textarea" id="info" name="info" th:text="${profile.getInfo()}"></textarea>
            </div>
            <div class="inline-elements">
                <label class="field-name">Навички</label>
                <div class="skills-picker profile-my-skills-picker">
                    <div th:each="technology : ${profile.getTechnologies()}">
                        <input type="checkbox" name="technologies" th:value="${technology.getId()}" checked>
                        <span th:text="${technology.getName()}"></span>
                    </div>
                    <div th:each="technology : ${technologies}">
                        <input type="checkbox" name="technologies" th:value="${technology.getId()}">
                        <span th:text="${technology.getName()}"></span>
                    </div>
                </div>
            </div>
            <button class="standart-button">Зберегти зміни</button>
            <a th:href="@{/profile/me}" class="standart-button">Назад</a>
        </form>
    </div>
    <div class="content-block profile-sidebar-wrapper disabled">
    </div>
</div>


</body>

</html>

</html>