<!DOCTYPE html>
<html>

<head>
	<title>Створення профілю</title>
	<link rel="icon" type="image/png" href="/img/app.ico"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/css/profile_create.css">
</head>

<body class="main-block-fullscreen">
	<div class="content-block profile-create-block">
		<h1 class="profile-create-block-h1">Розкажіть про себе</h1>
		<div class="scrollable-block">
			<form class="profile-create-form" autocomplete="off" th:action="@{/profile/create}" method="post">
				<label for="name">Ім'я</label>
				<input class="form-input" type="text" name="name" id="name" required>
				<label for="age">Вік</label>
				<input class="form-input" type="number" name="age" id="age" required>
				<label for="gender">Стать</label>
				<select class="form-input" name="gender" id="gender">
					<option value="NONE" selected></option>
					<option value="NONE">Не визначена</option>
					<option value="MALE">Чоловік</option>
					<option value="FEMALE">Жінка</option>
				</select>
				<label for="git">Посилання на Git</label>
				<input class="form-input" type="text" name="git" id="git"  required>
				<label for="info">Інформація</label>
				<textarea class="form-input" type="info" name="info" id="info"></textarea>
				<label for="info">Ваші навички</label>
				<div class="skills-picker profile-create-skills-picker">
					<div th:each="technology : ${technologies}"><input type="checkbox" name="technologies" th:value="${technology.getId()}"><span th:text="${technology.getName()}"></span></div>
				</div>
				<button class="standart-button">Створити</button>
			</form>
		</div>
	</div>


</body>

</html>