<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Медична система для обліку пацієнтів</title>
    <link rel="icon" type="image/png" href="/img/app.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/project_show.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <img class="header-image" src="/img/logo.png" alt="">
        <h1>Juniors Meet</h1>
        <div class="header-image disabled">Big brain div</div>
    </div>
    <div class="header-links">
        <a th:href="@{/project/all}">Пошук</a>
        <a href="/">Проекти</a>
        <a th:href="@{/profile/me}">Мій акаунт</a>
    </div>
</div>

<div class="main-block">
    <div class="content-block main-content-block">
        <div class="scrollable-block project-show-block">
            <h1 class="page-title" th:text="${project.getName()}">Медична система для обліку пацієнтів</h1>
            <div class="project-param">
                <p class="param-name">Навички, що використовуються</p>
                <p class="param-value">
						<span th:each="technology, iterStat : ${project.getTechnologies()}"
                              th:text="${technology.getName()} + ${!iterStat.last ? ', ' : ''}">

					</span>
                </p>
            </div>
            <div class="project-param">
                <p class="param-name">Лідер проекту</p>
                <p class="param-value">
                    <a th:text="${project.getLeader().getName()}"
                       th:href="@{/profile/{id}(id=${project.getLeader().getId()})}">
                    </a>
                </p>
            </div>
            <div class="project-param">
                <p class="param-name">Інші учасники</p>
                <p class="param-value">
                    <a th:if="${not project.getMembers().isEmpty()}"
                       th:each="member : ${project.getMembers()}" th:text="${member.getName()}"
                       th:href="@{/profile/{id}(id=${member.getId()})}">
                    </a>
                    <span th:if="${project.getMembers().isEmpty()}">Відсутні</span>
                </p>
            </div>
            <div class="project-param">
                <p class="param-name">Відгукнулися</p>
                <p class="param-value">
                    <a th:if="${not project.getMembers().isEmpty()}"
                       th:each="member : ${project.getCandidates()}" th:text="${member.getName()}"
                       th:href="@{/profile/{id}(id=${member.getId()})}">
                    </a>
                    <span th:if="${project.getMembers().isEmpty()}">Відсутні</span>
                </p>
            </div>
            <div class="project-param">
                <p class="param-name">Опис</p>
                <p class="param-value project-desc" th:text="${project.getDescription()}">З 2001-го року підприємство
                    застосовує оригінальні сучасні
                    технології інновацій, зберігання даних та продуктів харчування. Незмінно надається широкий
                    вибір...</p>
            </div>
            <div class="project-param">
                <p class="param-name">Дата створення</p>
                <p class="param-value" th:text="${#temporals.format(project.getCreatedAt(), 'dd.MM.yyyy')}">
                    23.03.2023</p>
            </div>
            <form class="apply-button-form" th:action="@{/project/apply/{id}(id = ${project.getId()})}" method="post">
                <button class="standart-button apply-button" type="submit">Відгукнутися</button>
            </form>
        </div>
    </div>
</div>


</body>

</html>