<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Власні майданчики</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_my.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body class="app-body">

<div class="header">
    <div class="header-app-name">
        <h1>StandUp-Ticketing</h1>
    </div>
    <div class="header-links">
        <a >Стендапи</a>
        <a th:href="@{/sent_appl/}">Організаторам</a>
        <ul class="menu">
            <li>
                <a href="#" >Мій акаунт</a>
                <ul>
                    <li>
                        <a th:href="@{/login}"  >Вийти</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/applications}" >Заявки</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="main-block">


    <div class="content-block main-content-block">
        <div class="scrollable-block profile-my-form">
            <h1 class="page-title" >Власні майданчики</h1>
            <div th:each="venue : ${userVenuesList}" class="project-el">
                <a th:href="@{/venues/{venueId}(venueId = ${venue.getVenueId()})}"
                   th:text="${venue.getTitle() }"></a>
                <p></p>
                <hr>
            </div>


        </div>
    </div>

</div>
</div>


</body>

</html>